 name: Continuous Integration

 on:
   push:
     branches:
     - '*'
   pull_request:
     branches:
     - '*'
   schedule:
     - cron: '59 23 * * *'
   workflow_dispatch:
    inputs:
      version:
        description: Manual CI Run
        default: test
        required: false

 jobs:
   tests:
     name: ${{ matrix.os }}, ${{ matrix.environment-file }}
     runs-on: ${{ matrix.os }}
     timeout-minutes: 30
     strategy:
       matrix:
         os: [ubuntu-latest]
         environment-file: [
            ci/311-oldest.yml,
            ci/311-latest.yml,
            ci/312-latest.yml,
            ci/313-latest.yml,
            ci/314-latest.yml,
            ci/314-dev.yml,
         ]
         include:
           - environment-file: ci/314-latest.yml
             os: macos-15-intel # Intel
           - environment-file: ci/314-latest.yml
             os: macos-latest # Apple Silicon
           - environment-file: ci/314-latest.yml
             os: windows-latest
       fail-fast: false

     defaults:
       run:
         shell: bash -l {0}

     steps:
       - name: checkout repo
         uses: actions/checkout@v6
         with:
           fetch-depth: 0 # Fetch all history for all branches and tags.

       - name: setup micromamba
         uses: mamba-org/setup-micromamba@v2
         with:
           environment-file: ${{ matrix.environment-file }}
           micromamba-version: 'latest'

       - name: environment info
         run: |
           micromamba info
           micromamba list

       - name: spatial versions
         run: 'python -c "import geopandas; geopandas.show_versions();"'

       - name: install package
         run: 'pip install -e . --no-deps'

       - name: Download test files
         run: |
           python -c '
           import libpysal

           libpysal.examples.fetch_all()
           '

       - name: run tests
         run: |
           pytest tobler \
           -v \
           -r a \
           -n auto \
           --color yes \
           --cov tobler \
           --cov-append \
           --cov-report term-missing \
           --cov-report xml .

       - name: codecov
         uses: codecov/codecov-action@v5
         with:
           token: ${{ secrets.CODECOV_TOKEN }}

       - name: Generate and publish the report
         if: |
           failure()
           && steps.status.outcome == 'failure'
           && github.event_name == 'schedule'
           && github.repository_owner == 'pysal'
         uses: xarray-contrib/issue-from-pytest-log@v1
         with:
           log-path: pytest-log.jsonl
